.chat-side
  .side-header
    %h3.side-header__box
      = current_user.name
      %p.side-header__box__user-name 
      %ul.side-header__box__menu         
        %li.side-header__box__menu__new-group
          = link_to '#', class: "side__header__btn" do
            = icon('fa','edit')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user), class: "side__header__btn" do
            = icon('fas','cog' )
  .groups
    .group
      %p.group__group-name
        =link_to '仲良し', "#",class: "group-name__btn" 
      %p.group__latest-message
        =link_to 'おはよー', "#",class: "latest-message__btn"   
  